@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Piedra&display=swap");
* {
  box-sizing: border-box;
  font-family: cursive;

  font-family: "Piedra", cursive;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* margin: 0 auto; */
}

h1 {
  text-align: center;
  font-size: 34px;
  margin: 20px auto;
  padding-top: 50px;
}
header select {
  margin: 50px 40%;
}
header {
  margin-top: 0;
  background-color: cadetblue;
}
#btnsContainer {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
